body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #F8EEB9;
	font-family: cursive;
}
*, *:before, *:after {
	box-sizing: inherit;
}

header {
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	justify-content: space-between;
	height: 100px;
	background-color: #EBD17D;
}
#logo {
	width: 50%;
	position: relative;
}
#logo > div {
	display: inline-block;
	background-image: url("assets/logo.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 75px;
	height: 75px;
	margin-left: 48px;
}
#logo > span {
	position: absolute;
	left: 16px;
	top: 62px;
	font-size: 24px
}
#social {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
.headerlogo {
	height: 75px;
	width: 75px;
	background-size: cover;
	margin-right: 10px;
	margin-top: 13px;
	background-repeat: no-repeat;
}
#facebook {
	background-image: url("assets/facebook.png");
}
#instagram {
	background-image: url("assets/instagram.png");
}
#twitter {
	background-image: url("assets/twitter.png");
}
#opentable {
	background-image: url("assets/opentable.png");
	background-size: 73px 59px;
	background-position: 1px 12px;
}

#firstsection {
	width: 100%;	
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 50px
}

#mainPic {
	background-image: url("assets/mainpic.jpg");
	background-size: cover;
	background-position: 50% 70%;
	width: 100%;
	height: 400px;
	margin-bottom: 40px;
}

#about{
	width: 50%;
	padding: 0 20px;
	text-align: center;
	background-color: #FFFBF0;
	padding-top: 2px;
}
#news {
	width: 50%;
	padding: 0 20px;
	text-align: center;
	background-color: #FFFBF0;
}
#mainsection{
	display: flex;
	margin-bottom: 50px;
}
/*Tab Styling*/
#tabContainer{
	border-bottom: 1px solid #000;
	padding: 0 10px;
	display: flex;
}
#menuTab.activeTab, #reservationTab.activeTab{
	border-bottom: 1px solid #FFFBF0;
}
#menuTab, #reservationTab{
	position: relative;
	top: 1px;
	flex: 1 1 0;
	border: 1px solid #000;
	background-color: #FFFBF0;
	font-size: 30px;
	padding: 0 10px;
	margin: 0px 5px;
}
#menu > div.hideTab{
	display: none;
}
/*End of Tab Styling*/
#menu{
	width: 75%;
}
#reservations {
	width: 50%;
	padding: 30px;
	background-color: #FFFBF0;
}
#restitlediv {
	width: 100%;
}
#partydiv {
	width: 100%;
	text-align: center;
}
#partysize {
	width: 100%;
}
#monthdiv {
	width: 49%;
	display: inline-block;
	text-align: center;
}
#datediv {
	width: 50%;
	display: inline-block;
	text-align: center;
}
#timediv	{
	text-align: center;
}
#time {
	width: 100%;
}
#resbutton {
	width: 100%;
	text-align: center;
}
#miscinfo {
	width: 50%;
	padding: 30px;
	background-color: #FFFBF0
}

/*Menu Stlying*/
#menusection{
	display: flex;
	flex-flow: column wrap;
	padding: 10px;
	background-color: #FFFBF0;
}
.courseTitles{
	text-transform: capitalize;
	border-bottom: 1px solid #999
}
.menuItemContainer{

}
#special{

}
.descriptionContainer{
	display: flex;
	align-items: center;
}
.menuItemName{
	font-size: 19px;
}
.menuItemDescription{
	margin: 0;
	display: inline-block;
	width: 70%;
}
.menuItemAlerts{
	display: inline-block;
}
/*End of Menu Styling*/
#sidePics{
	width: 25%;
	margin-right: 20px;
}
#lastsection{
	display: flex;
	background-color: #FFFBF0
}
#review{
	width: 50%;
	margin: 20px;
}
#map{
	width: 50%;	
}
.foodpics {
	width: 100%;
	height: 300px;
	background-size: cover;
}
#foodpic1 {
	background-image: url("assets/duckfingerlings.jpg");
}
#foodpic2 {
	background-image: url("assets/salad.jpg");
	margin: 5px 0px;
}
#foodpic3 {
	background-image: url("assets/seafoodbisque.png");
}
#map{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 20px;
}
#map ul {
	list-style: none;
	padding-left: 20px;
}
#gmap{
	border: 1px solid #888;
	border-radius: 1px;
}
footer {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	background-color: #EBD17D;
	padding-top: 15px;
}
label {
	display: block;
	margin-top: 20px;
}
#reservationsection{
	display: flex;
}
.allergies {
	background-image: url("assets/allergy.svg");
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	background-position: 10px 10px;
}
.allergiestext:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 12px 10px;
	border-color: transparent transparent #000 transparent;
	position: absolute;
	top: -12px;
	left: 348px;
}
.allergiestext {
	width: 400px;
	height: 85px;
	position: absolute;
	z-index: 1;
	top: 50px;
	left: -325px;
	background-color: #F8EEB9;
	color: black;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 10px;
	visibility: hidden;
}
.allergies:hover .allergiestext {
	visibility: visible;
}
.favorites {
	background-image: url("assets/favorite.svg");
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	background-position: 10px 10px;
}
.favoritestext:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 12px 10px;
	border-color: transparent transparent #000 transparent;
	position: absolute;
	top: -12px;
	left: 348px;
}
.favoritestext {
	width: 400px;
	height: 62px;
	position: absolute;
	z-index: 1;
	top: 50px;
	left: -325px;
	background-color: #F8EEB9;
	color: black;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 10px;
	visibility: hidden;
}
.favorites:hover .favoritestext {
	visibility: visible;
}
.spicy {
	background-image: url("assets/spicy.svg");
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	background-position: 10px 15px;
}
.spicytext:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 12px 10px;
	border-color: transparent transparent #000 transparent;
	position: absolute;
	top: -12px;
	left: 348px;
}

.spicytext {
	width: 400px;
	height: 63px;
	position: absolute;
	z-index: 1;
	top: 50px;
	left: -325px;
	background-color: #F8EEB9;
	color: black;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 10px;
	visibility: hidden;
}
.spicy:hover .spicytext {
	visibility: visible;
}
.vegan {
	background-image: url("assets/vegan.svg");
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	background-position: 10px 11px;
}
.vegantext:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 12px 10px;
	border-color: transparent transparent #000 transparent;
	position: absolute;
	top: -12px;
	left: 348px;
}

.vegantext {
	width: 400px;
	height: 60px;
	position: absolute;
	z-index: 1;
	top: 50px;
	left: -321px;
	background-color: #F8EEB9;
	color: black;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 10px;
	visibility: hidden;
}
.vegan:hover .vegantext {
	visibility: visible;
}
#acceptedlogos {
	background-image: url("assets/payments.jpg");
	height: 70px;
	width: 250px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: -15px;
}
#dininglogo {
	background-image: url("assets/server.svg");
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -25px;
}
#cuisinelogo {
	background-image: url("assets/knifefork.svg");
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -15px;
}
#dresslogo {
	background-image: url("assets/suit.svg");
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -15px;
}
#paymentlogo {
	background-image: url("assets/cash.svg");
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -20px;
}
.resss {
	display: inline-block;
}
button {
	margin-top: 20px;
	padding: 7px;
}
select {
	margin-top: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 7px;
	background-image: url("assets/arrow.svg");
	background-repeat: no-repeat;
	border-radius: 0px;
	font-family: cursive;
	font-size: 12px;
}
.largeselect {
	background-position: 602px 2px;
	background-size: 30px;
}
.smallselect {
	width: 140px;
	background-size: 30px;
	background-position: 107px 3px;
}
select:focus {
	outline: 0;
}
#phoneandhours {
	padding: 20px;
}
#history {
	margin-bottom: 69px;
}


