body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing: inherit;
}

header {
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	justify-content: space-between;
	height: 100px;
}
#logo {
	width: 50%;
	position: relative;
}
#logo > div {
	display: inline-block;
	background-image: url("assets/logo.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 75px;
	height: 75px;
	margin-left: 40px;
}
#logo > span {
	position: absolute;
	left: 30px;
	top: 65px;
}
#social {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
.headerlogo {
	height: 75px;
	width: 75px;
	background-size: cover;
	margin-right: 10px;
	margin-top: 13px;
	background-repeat: no-repeat;
}
#facebook {
	background-image: url("assets/facebook.png");
}
#instagram {
	background-image: url("assets/instagram.png");
}
#twitter {
	background-image: url("assets/twitter.png");
}
#opentable {
	background-image: url("assets/opentable.png");
	background-size: 73px 59px;
	background-position: 1px 12px;
}

#firstsection {
	width: 100%;	
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 50px
}

#mainPic {
	background-image: url("assets/mainpic.jpg");
	background-size: cover;
	background-position: 50% 70%;
	width: 100%;
	height: 400px;
	margin-bottom: 40px;
}

#about{
	width: 50%;
	padding: 0 20px;
	text-align: center;
}
#news {
	width: 50%;
	padding: 0 20px;
	text-align: center;
}
#mainsection{
	display: flex;
	margin-bottom: 50px;
}
#menu{
	width: 75%;
	display: flex;
}
#reservations {
	width: 50%;
}
#restitlediv {
width: 100%;
}
#partydiv {
	width: 100%;
}
#partysize {
	width: 100%;
}
#monthdiv {
	width: 49%;
	display: inline-block;
}
#datediv {
	width: 50%;
	display: inline-block;
}
#time {
	width: 100%;
}
#resbutton {
	width: 100%;
}
#miscinfo {
	width: 50%;
}
#sidePics{
	width: 25%;
	margin-right: 20px;
}
#lastsection{
	display: flex;
}
#review{
	width: 50%;
	margin: 20px;
}
#map{
	width: 50%;	
}
.foodpics {
	width: 100%;
	height: 300px;
	background-size: cover;
}
#foodpic1 {
	background-image: url("assets/duckfingerlings.jpg");
}
#foodpic2 {
	background-image: url("assets/salad.jpg");
	margin: 5px 0px;
}
#foodpic3 {
	background-image: url("assets/seafoodbisque.png");
}
#map{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 20px;
}
#map ul {
	list-style: none;
	padding-left: 20px;
}
#gmap{
	border: 1px solid #888;
	border-radius: 1px;
}
footer {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}



















